@font-face {
  font-family: 'StarJedi Special Edition Regular';
  font-style: normal;
  font-weight: normal;
  src: local('StarJedi Special Edition Regular'), url('STJEDISE.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Twigs Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Twigs Medium'), url('Twigs.woff') format('woff');
    }

  @font-face {
  font-family: 'Star Jedi Logo DoubleLine1 Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Star Jedi Logo DoubleLine1 Regular'), url('Stjldbl1.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Star Jedi Logo MonoLine Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Star Jedi Logo MonoLine Regular'), url('Strjmono.woff') format('woff');
  }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'Star Jedi Logo DoubleLine1 Regular';
}

.tool-title {
  font-family: 'Star Jedi Logo MonoLine Regular';
}

.message{
  font-family: 'Twigs Medium';
  font-weight: bolder;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}